/* common start  */
body{ margin: 0;
padding: 0;}
/* common end  */

/* <!-- header start --> */
header{
   overflow: hidden;
   border-bottom: 3px solid #F0F0F0;
   

}
.container {
width: 90%;
  /* border: 1px solid red;  */
margin: 0 auto;
}

.logo {width: 10%;
    /* border: 1px solid red; */
    float: left;
}
.logo img{ width: 100%;
    /* border: 1px solid red; */
}

.menu { width: 45%;
    /* border: 1px solid red; */
    float: right;
    margin-top: 8px; 
    
}
.menu ul{
float: right;
 /* border: 1px solid red; */


}
.menu ul li{float: left;
    list-style: none;
    
}
.menu ul li a{
display: inline-block;
margin: 0 20px;
text-decoration: none;
font-family: sans-serif;
font-weight: 300;
font-size: 16px;
color: rgb(51, 50, 50);
}


.menu ul li:last-child a{ margin-right: 0;}

    /* <!-- header end --> */ 
     /* banner start */ 
  .banner{padding: 60px 0;
    /* border: 2px solid red; */
    }
    .container2{
width: 55%;
/* border: 2px solid black; */
margin: 0 auto;
}
    .b_content{
text-align: center;
font-family: sans-serif;

    }
    .b_content h1{
        font-family: sans-serif;
        font-size: 45px;
        font-weight: 700;
        color:#09183B;
        

    }
    .b_content h2{    font-family: sans-serif;
        font-size: 45px;
        font-weight: 700;
        color: #018AFC;
        margin-top: -20px;
    }
      
        


    
    .b_content p{font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        color:#09183B;
        line-height: 22px;
        word-spacing: 1px;

    }

    .b_img{width: 75%;
        /* border: 1px solid red; */
        margin: 0 auto;

    }
    .b_img img{width: 100%;

    }
    /* <!-- banner end -->

    /* success start */
.success{font-family: sans-serif;
    /* padding-top: 5px; */
    padding: 60px 0;

}
.s_content{
overflow: hidden;
}
.s_left{ width: 45%;
     /* border: 1px solid;  */
     float:left;
    text-align: right; 

}
.s_left h2{ color: #F35563;
    font-weight: 700;font-size:50px;
    margin: 0;

}
.s_left p{
    color: #09183B;
    font-weight: 400px;
    font-size: 16px;
    float: left;
    line-height: 28px;
    word-spacing: 3px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.s_right{ width: 50%; 
    /* border: 1px solid; */
     float:right;

}
.s_right h1{color: #112557;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}
/* success end */

/* feature start */
.feature{
    margin: 30px 0 70px 0;
}
.f_content{font-family: sans-serif;
    font-size: 16px;
    color: #112557;
    overflow: hidden;

}

.f_single {width: 28%;
    /* border: 1px solid; */
    float: left;
    padding: 30px 2.0% 50px;
    margin-right: 2.0%;
    

}
.f_single :last-child{
     margin-right: 0; 
}
.green{
    background-color: #EAF9F4;
}
.yellow{
     margin: 0; 
background-color: #FFF8E8; }

.pink{
    background-color: #FEEBED; 
}
.f_img{

}
.f_img img{
width: 100%;
}
.f_single h2{
    font-size: 22px;


}
.f_single p{font-weight: 400;
    margin: 0;
    line-height: 27px;
    letter-spacing: 1.1px;
}



/* feature end */
/* <!-- footer start --> */
footer{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: #008AFF;
    min-height: 90px;
}
.content{width: 30%;
    margin: 0 auto;
    padding-top: 24px;

}
span{color: white;
    font-weight: 600;
    letter-spacing: 3px;

}
.content p{
    color: #75CBFF;
}



/* <!-- footer end --> */
